doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  
  body
    
    a(href='/Marley')
        |Marley 

    a(href='/bob')
      |bob 

    a(href='/heather')
     |heather 

    a(href='/ether')
     |ether 

    block content